/*Eventer Title and Logos */

.logo{
    padding-top: 5%;
}

#logo {
    font-family: 'Pacifico', cursive;
    display: inline;
}

#logoImg {
    padding-left: 1%;
    display:inline;
}

.animatedImg{
    display: inline;
}

#movingImg {
    position: absolute;
    left:200px;
}