/*Eventer Title and Logos */

.logo{
    padding-top: 5%;
}

#logo {
    font-family: 'Pacifico', cursive;
    display: inline;
}

#logoImg {
    padding-left: 1%;
    display:inline;
}

.animatedImg{
    display: inline;
}

#movingImg {
    position: absolute;
    left:200px;
}

/* Boxes */
.box {
    text-align: center;
    margin-top:5%;
    margin-right:15%;
    margin-left:15%;
}

.box-text{
    font-size: 2vw;
    font-family: 'Chewy', cursive;
}
#temp{
    text-align:center;
    
}