/*Eventer Title and Logos */

.logo{
    padding-top: 5%;
}

#logo {
    font-family: 'Pacifico', cursive;
    display: inline;
}

#logoImg {
    padding-left: 1%;
    display:inline;
}

.animatedImg{
    display: inline;
}

#movingImg {
    position: absolute;
    left:200px;
}

/* Boxes */

.color1 {
    background: #01FF21; 
}
.color2 {
    background: #FF00DC;
}
.color3 {
    background: #01FFFF;
}
.color4 {
    background: #FFD800;
}
.color5 {
    background: #01FF90;
}
.color6 {
    background: #0094FF;
}